<!DOCTYPE html>  
<html>
	<head>  
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
		<title>新乡县农信社</title> 		
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
		<link rel="stylesheet" href="../addons/ceshi_5/style/css/index.css">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=duN7GgqlaZtbSjTPvxa8CIPkg0kb0URC">
		</script>
	</head>  
	<body>  
		<div id="container"></div> 
		{loop $list $item}
		<div class="addresslist container">
			<div class="row">
				<div style="border-right:1px solid white;" class=" col-xs-6 col-sm-6 ">
					<p>{$item['store']}</p>
				</div>
				<div class="col-xs-6 col-sm-6 ">
					<span onclick="nav({$item['id']})"  class="glyphicon glyphicon-map-marker" style="color: rgb(80, 147, 255); font-size: 35px;"></span>地址:{$item['address']}
				</div>
			</div>
		</div>
		{/loop}
		<!-- 加载显示地图必要函数 -->
		<script type="text/javascript">
		//把json数据转换成json对象
		var data_info = eval({$data_info});
		var map = new BMap.Map("container");
		// 创建地图实例  
		var point = new BMap.Point(data_info[0]['longitude'],data_info[0]['latitude']);
		// 创建点坐标  
		map.centerAndZoom(point, 10);
		//向地图中添加缩放控件
		var ctrlNav = new window.BMap.NavigationControl({
			anchor: BMAP_ANCHOR_TOP_LEFT,
			type: BMAP_NAVIGATION_CONTROL_LARGE
		});
		map.addControl(ctrlNav);
		//向地图中添加比例尺控件
		var ctrlSca = new window.BMap.ScaleControl({
			anchor: BMAP_ANCHOR_BOTTOM_LEFT
		});
		map.addControl(ctrlSca);	
		var opts = {
					width : 250,     // 信息窗口宽度
					height: 90,     // 信息窗口高度
					enableMessage:true//设置允许信息窗发送短息
				   };
		for(var i=0;i<data_info.length;i++){
			var marker = new BMap.Marker(new BMap.Point(data_info[i]['longitude'],data_info[i]['latitude']));  // 创建标注
			var content = "<p>门店：" + data_info[i]['store'] + "</p><p>地址：" + data_info[i]['address'] +  "</p>" + '<button onclick="nav(' + data_info[i]['id'] + ')" class="i-Call" >一键导航</button>';
			map.addOverlay(marker);               // 将标注添加到地图中
			addClickHandler(content,marker);
		}
		function addClickHandler(content,marker){
			marker.addEventListener("click",function(e){
				openInfo(content,e)}
			);
		}
		function openInfo(content,e){
			var p = e.target;
			var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
			var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
			map.openInfoWindow(infoWindow,point); //开启信息窗口
		}                  
		//微信JSSDK使用					 		
		$(function () { 
			var jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || { jsApiList:[] };  
			jssdkconfig.jsApiList = ['getLocation']   
			wx.config(jssdkconfig);
			wx.ready(function () {
				wx.checkJsApi({
					jsApiList: [
						'getLocation'
					],
					success: function (res) {
						 <!-- alert(JSON.stringify(res)); -->
						 <!-- alert(JSON.stringify(res.checkResult.getLocation)); -->
						if (res.checkResult.getLocation == false) {
							alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
							return;
						}
					}
				}); 
				wx.error(function(res){
					alert("接口调取失败")
				});
			});
		});
		//点击跳转到百度地图
		function nav(i){
			//使用微信内置地图获取地理位置
			wx.getLocation({
				type: 'wgs84', //默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
				success: function (res) {
					var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
					var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
					var speed = res.speed; // 速度，以米/每秒计
					var accuracy = res.accuracy; // 位置精度
					<!-- alert("latitude : "+latitude+"--longitude : "+longitude+"--speed : "+speed+"--accuracy : "+accuracy); -->
					getBaiduLocation(longitude,latitude); //转换为百度坐标,并跳转
				}
			});
			 var getBaiduLocation = function(longitude,latitude){
				$.ajax({
					type: "GET",
					url: 'http://api.map.baidu.com/geoconv/v1/?coords='+longitude+','+latitude+'&from=1&to=5&output=json&ak=nHbhscSu1l3CjSLBNRUleeW1lppoVpaL',
					dataType: 'jsonp',
					success: function (msg) {
						try {
							var result = msg.result;
							var lat = result[0].y;//当前纬度
							var lng = result[0].x;//当前经度
							var x = data_info[i-2]['longitude'];//门店经度
							var y = data_info[i-2]['latitude'];//门店纬度
							var Address = "上海市";   //城市
							var bendics ="闵行区"; //县区
							var mendianxq ='浦江路58弄浦江花园';
							console.log(lat)
							console.log(lng)
							window.location.href="http://api.map.baidu.com/direction?origin=latlng:" + lat + "," + lng + "|name:我目前位置&destination=latlng:" + y + "," + x + "|name:" + Address + "&mode=driving&origin_region=" + bendics + "&destination_region=" + mendianxq + "&output=html&src=" + window.location.host;
						} catch (e) {
							$.fn.alert(e.message);
						}
					}
				});
			};
		}
		</script>
	</body>  
</html>